#top {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 1px;
    color: gray;
}

#hdr {
    background-color: teal;
    color: white;
}

#main-nav {
    padding-top: 15px;
    display: flex;
}

#oscar-tx {
    font-weight: 800;
}

.nav-options {
    list-style: none;
    margin-top: 0;
}

.nav-options li {
    display: inline;
    margin-right: 5%;
}

.narrow-nav {
    width: 60%;
}

#shop-plans-btn {
    right: 0;
}
